.content-schedule {
    display: flex;
    padding: var(--spacing-400, 2rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-300, 1.5rem);
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--color-purple-100, #DBD1FC);
    overflow-x: auto;

    @media screen and (min-width: 62rem) {
        height: 37.6875rem;
    }

    .title {
        align-self: stretch;
        color: var(--color-black, #121212);
        /* Desktop/text-preset-3 */
        font-family: "DM Sans";
        font-size: var(--font-size-text-preset-3, 2rem);
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 87.5% */
        letter-spacing: -0.125rem;
    }

    .subtitle {
        align-self: stretch;
        color: var(--color-black, #121212);
        /* text-preset-4 */
        font-family: "DM Sans";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 111.111% */

        @media screen and (min-width: 48rem) {
            width: 22rem;
            margin: 0 auto;
        }

        @media screen and (min-width: 62rem) {
            width: unset;
            margin: 0 auto;
        }
    }

    .post-time-container {
        position: relative;
        width: 100%;
        height: 20rem;

        .post-time {
            display: flex;
            padding: 1.31819rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.87881rem;
            border-radius: 1.22613rem;
            background: var(--color-white, #FFF);
            width: 20rem;
            margin: auto;

            @media screen and (min-width: 48rem) {
                width: 23rem;
            }

            .post-header {
                color: #091E42;
                font-family: "DM Sans";
                font-size: 1.1875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 1.78125rem */
                letter-spacing: -0.05938rem;
            }

            .divider {
                height: 1px;
                width: 100%;
                background-color: #DCDEEC;
            }

            .post-days {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                span {
                    color: #8F8F8F;
                    font-family: sans-serif;
                    font-size: 0.87881rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 1.31819rem */
                }

                span.current-day {
                    color: #DC5172;
                    font-weight: 600;
                    border-radius: 2.197rem;
                    background: #FFE5E7;

                    display: flex;
                    padding: 0.21969rem 0.54925rem;
                    align-items: flex-start;
                    gap: 0.54925rem;
                }
            }

            .time-bar {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                align-self: stretch;
                
                .time-value-container {
                    padding-top: 2rem;
                    position: relative;
                }

                .time-value {
                    width: 1.37313rem;
                    background-color: var(--color-purple-500, #7551DC);
                    border-radius: 0.7rem;
                }

                .most-active {
                    position: absolute;
                    color: #0E803B;
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 0.87881rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 1.31819rem */
                    display: flex;
                    padding: 0.2rem 0.6rem;
                    align-items: flex-start;
                    gap: 0.54925rem;
                    border-radius: 0.54925rem;
                    background: #DAFFE9;
                    width: 6.5rem;
                    top: 0;
                    left: -2rem;
                }
            }

            .time-entries {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                span {
                    color: #8F8F8F;
                    font-family: sans-serif;
                    font-size: 0.87881rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 1.31819rem */
                }
            }
        }
    }
}